<!-- foot -->
<div class="w-full flex items-center justify-center">
    <div class="w-[80%] mx-auto h-[5rem] bg-[#1F2731] rounded-lg flex items-center justify-center mb-[3rem] fixed bottom-0">
        <div class="w-[90%] flex items-center justify-between">
            <p class="text-white">Made with love by <a class="text-[#FF2145]" href="#">regex</a></p>
            <p class="text-2xl text-[#FF2145]"><i class="fa-brands fa-github"></i></p>
        </div>
    </div>
</div>
</div>
</body>
</html>