<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=boska@200,201,300,301,400,401,500,501,700,701,901&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/82eb69e53c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
</head>

<body class="font-inter bg-[#181D23]">
    <div class="flex flex-col items-center justify-between h-screen">
        <!-- navbar -->
        <div class="nav flex items-center justify-center w-full bg-transparent">
            <div class="w-[80%] flex items-center justify-between h-[6rem]">
                <a href="/" class="text-3xl text-white">linkman</a>
                <form class="flex flex-row items-center justify-center gap-10" action="/dashboard" method="get">
                    <button class="h-[3rem] rounded-lg w-[8rem] bg-[#FF2145] text-white font-medium">
                        Dashboard
                    </button>
                    <div class="relative inline-block text-left">
                        <button id="dropdownActions" data-dropdown-toggle="dropdownMenu"
                            class="text-white font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center"
                            type="button">
                            Account 
                            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </button>
                        <div id="dropdownMenu" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                                <li>
                                    <form action="/logout" method="POST" class="inline">
                                        <button type="submit"
                                            class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                                            Logout
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>

            </div>
        </div>