<%- include('partials/nav') -%>
<div class="flex flex-grow flex-col items-center justify-start w-full gap-10">
    <div class="w-[80%] flex items-center justify-center h-[5rem] bg-[#1F252D] rounded-lg">
        <div class="w-[90%] flex items-center justify-between text-white">
            <p>My Links</p>
            <div class="flex flex-row">
                <p>Sort by <i class="fa-solid fa-chevron-down text-[#FF2145]"></i></p>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center w-[80%]">
        <div class="flex items-center justify-center w-full bg-[#1F252D] rounded-t-lg">
            <div class="w-[80%] flex items-center justify-between h-[4rem] text-[#797979]">
                <div class="flex items-center justify-center gap-20">
                    <p>Sr. no.</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>
        <div class="flex items-center justify-center h-[3rem] bg-[#181D23] w-full text-white">
            <div class="flex items-center justify-between w-[80%]">
                <div class="flex items-center justify-center gap-20">
                    <p>1</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>
        <div class="flex items-center justify-center h-[3rem] bg-[#1F252D] w-full text-white">
            <div class="flex items-center justify-between w-[80%]">
                <div class="flex items-center justify-center gap-20">
                    <p>2</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>
        <div class="flex items-center justify-center h-[3rem] bg-[#181D23] w-full text-white">
            <div class="flex items-center justify-between w-[80%]">
                <div class="flex items-center justify-center gap-20">
                    <p>1</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>
        <div class="flex items-center justify-center h-[3rem] bg-[#1F252D] w-full text-white">
            <div class="flex items-center justify-between w-[80%]">
                <div class="flex items-center justify-center gap-20">
                    <p>2</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>
        <div class="flex items-center justify-center h-[3rem] bg-[#181D23] w-full text-white">
            <div class="flex items-center justify-between w-[80%]">
                <div class="flex items-center justify-center gap-20">
                    <p>1</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>
        <div class="flex items-center justify-center h-[3rem] bg-[#1F252D] w-full text-white">
            <div class="flex items-center justify-between w-[80%]">
                <div class="flex items-center justify-center gap-20">
                    <p>2</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>
        <div class="flex items-center justify-center h-[3rem] bg-[#181D23] w-full text-white">
            <div class="flex items-center justify-between w-[80%]">
                <div class="flex items-center justify-center gap-20">
                    <p>1</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>
        <div class="flex items-center justify-center h-[3rem] bg-[#1F252D] w-full text-white">
            <div class="flex items-center justify-between w-[80%]">
                <div class="flex items-center justify-center gap-20">
                    <p>2</p>
                    <p>Link</p>
                </div>
                <p>Visits</p>
            </div>
        </div>

    </div>
</div>

<%- include('partials/foot') -%>
