<%- include('partials/nav') -%>
    <div class="min-h-screen flex items-start justify-center w-full">
        <div class="w-[80%] min-h-[40rem] flex items-center justify-start">
            <div class="min-h-[20rem] bg-[#1F252D] w-[70%] rounded-lg flex flex-col items-start justify-center px-20 text-white gap-7">
                <p>Shorten your URLs</p>
                <form class="w-full flex flex-col gap-7" action="">
                    <input class="h-14 w-[80%] bg-[#181D23] rounded-lg border-2 border-[#FF2145] px-10" placeholder="Enter the URL" type="text">
                    <button class="h-[3rem] rounded-lg w-[8rem] bg-[#FF2145] text-white font-medium">
                        Shorten URL
                    </button>
                </form>
            </div>
        </div>
    </div>
<%- include('partials/foot') -%>
