<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700,1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-[#10100E] h-screen flex items-center justify-center">
    <div class="flex flex-col items-center justify-center w-[40%] font-clash-display min-h-[20rem] text-[#FFFFE3] gap-10">
        <img src="https://i.imgflip.com/3ho6l0.jpg" class="rounded-xl" alt="">
        <div class="flex flex-col items-center justify-center">
            <p class="text-9xl font-medium"><%= error.code %></p>
            <p><%= error.message %></p>
            <a class="pt-2 textb" href="/">Go to Homepage</a>
        </div>

    </div>
</body>
</html>