<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/signup" method="POST" class="space-y-6">

        <div>
            <label for="email">Email</label>
            <div class="mt-1">
                <input type="email" name="email" id="email" requiredW>
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <div class="mt-1">
                <input type="password" name="password" id="password" required>
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>